Source: app2sd
Section: devel
Priority: extra
Maintainer: Garima Shrivastava <garima.s@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>
Build-Depends: debhelper (>= 5),libssl-dev, libslp-setting-dev, libslp-db-util-dev
Standards-Version: 3.7.2

Package: app2sd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <App2sd is a utility for enabling installation of applications to sd card and also to move to and from sd card.>

Package: app2sd-dev
Architecture: any
Depends: app2sd (= ${Source-Version})
Description: App2sd dev package

Package: app2sd-doc
Architecture: all
Description: <App2sd is a utility for enabling installation of applications to sd card and also to move to and from sd card.>

Package: app2sd-dbg
Section: debug
Architecture: any
Depends: app2sd (= ${Source-Version})
Description: App2sd dbg package

